.panel-side {
		border-bottom: 1px solid #ebe9e7 !important;
	}
	.box-border{
		border: 1px solid #ebe9e7 !important;
	}
	.bg-play{
		 background-image: url("images/background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	.img-profile{
		width : 230px;
		border-radius: 50%;
	}
	.audio-banner{
		text-align: center;
		background-color: white;
		padding: 10px

	}
	.form-control{ border-color: inherit; 
		-webkit-box-shadow: none; 
		box-shadow: none;
		background-color:transparent;
        border: 0px solid;
        


    
	 }
	 div#chatlist {
    width: 100%;
    height: 300px;
   
}
div.mousescroll {
    overflow: hidden;
}
div.mousescroll:hover {
    overflow-y: scroll;
}
ul {
    list-style-type: none;
}
.slimScrollDiv {  margin:0px; }
.panel-side{
	cursor: pointer;

}
.panel-side : hover{
	background-color: #3374C2 !important;
	
}

