.select-design{
    cursor: pointer;
}
.select-design:active{
    opacity: 0.5;
}
.signature-template{
    display: inline-block;
    padding: 15px;
    background: #FFF;
    border:1px solid #DDD;
}
.input-form-generator{
    margin-top: 50px;
}
.content .widget-content{
    overflow: auto;
}
.cam-obj{
    border:3px solid #DDD;
    width: 326px;
    min-height: 246px;
    background-color: #000;
    margin: 0 auto;
}
.real-time{margin-right: 15px;}
.tab-content .history-image {
    width: 80px;
    height: auto;
}
.cam-obj .captured-btn{
    border-radius: 0px;
}
.history-tab .list-group{
    margin-top: -1px;
    margin-bottom: 0px;
}
.history-tab .list-group .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 5px;
    font-size: 12px;
}
div.table>form.tr:nth-of-type(odd){
    background-color: #ececec;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ececec;
}
.text-info {
    color: #31708f !important;
}
.table td .resolved-date{
    background-color: transparent;
    border:1px solid transparent;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.table td .resolved-date:focus{
    border:1px solid #33ccff;
    background-color: #FFF;
}
.text-warning {
    color: #8a6d3b !important;
}
.modal-information .output .alert{
    margin-bottom: 0px;
    padding: 10px 10px 10px;
    text-align: center;
}
.profile-picture{
    position: relative;
    margin: 15px auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}
.profile-picture img{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border:3px solid #0a263a
}
.close-sidemenu .ticketing-user,
.hide-span .ticketing-user{ display: none !important}
.description-container img{
    max-width: 100% !important;
    height: auto !important;
}
.ticketing-username{
    text-align: center;
    color:#FFF;
    margin-bottom:15px;
    font-size: 17px;
    font-weight: bold;
}
.upload-photo-pro{
    position: absolute;
    opacity: 0px;
    overflow: hidden;
    height: 0px;
    width: 0px;
}
.profile-picture-modal .video-stage{
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}
.profile-picture-modal .video{
    position: relative;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    z-index: 0;
}
.profile-picture-modal .canvas{
    display: block;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: 1;
}
.profile-picture-modal .btn-photoshoot{
    margin-top: 15px;
}

.user-status{

    width: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.user-status .user-status-noti{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #0a263a;
    color: #FFF;
    border-radius:5px;
    cursor:pointer;
    background: #0b5277; /* Old browsers */
    background: -moz-linear-gradient(top,  #12476b 14%, #07304c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #12476b 14%,#07304c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #12476b 14%,#07304c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12476b', endColorstr='#07304c',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #082235;
}
.user-status .user-status-noti option{
    background-color: #07304c ;
    border: 1px solid #082235;
    color: #FFF;
    padding: 5px;
}
.dropdown-menu.chat_menu{
    min-width: 290px;
}
.dropdown-menu.chat_menu li a{
    padding: 10px 20px;
    border-top:1px solid #DDD;
}
.dropdown-menu.chat_menu li:first-child a{border:none;}
.it_status_menu{
    min-width:400px;
    padding: 5px;
    overflow: auto;
    max-height: 500px;
}
.cc-user{
    position: relative;
}
.cc-user .ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1000 !important;
}
.cc-user .input-group-addon {
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.cc-user .input-group-addon .label{ font-size: 10px;}
.chat-support-container{
    position: fixed;
    width: 600px;
    border:1px solid #DDD;
    bottom: 0px;
    right: 10px;
    background-color: #f7f7f7;
    z-index: 999;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.chat-support-container .fa:before {
    content: "\f0d7";
}

.chat-support-container .chat-support-header{
    border-bottom:1px solid #DDD;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color:#676767;
    cursor: pointer;
}
.chat-support-container .chat-support-header:hover{
    background: #ececec;
}
.chat-support-container .chat-support-header:active{
    background: #e6e5e5;
}



.toggle-chat-button{
    display: block;
    margin-right:15px;
    color:#909090 !important;
}
.chat-support-toggle{
    overflow: hidden;

}
.chat-support-toggle .clmn{
    float: left;
    height: 350px;
}

.chat-cont-main{width:55%;}
.search-user{
    position: relative;
    padding: 5px;
    border-bottom:1px solid #DDD;
}
.search-user .clear-search{
    position:absolute;
    display: block;
    background: #888;
    color: #FFF;
    border:0px;
    border-radius:50%;
    top: 11px;
    right: 9px;
}
.search-user .clear-search:hover{
    background: #666;
}
.search-user .clear-search:active{
    background: #444;
}
.chat-online-con{
    width:45%;
    border-left:1px solid #DDD;

}
.chat-online{
    overflow: auto;
    max-height: 305px;
}

.chat-message{
    position: relative;
    height: 300px;
    background-color: #FFF;
    padding: 10px;
    overflow: auto;
}
.sending{ opacity: 0.5}
.chat-message.loading:before{
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
    content:'Loading...';
    font-size: 11px;
    background-color: #FFF;
    padding: 4px;
    text-align: center;
    z-index: 99;
}

.chat-message::-webkit-scrollbar ,
.chat-online::-webkit-scrollbar {
    width: 12px;
    background-color:rgba(255, 255, 255, 0.70);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px ;
    background-color: #000;
    background: rgba(255, 255, 255, 0.80);
}
.chat-text{
    border-top:1px solid #DDD;
    height: 50px;
    padding: 5px;

    -webkit-box-shadow: 0 0px 11px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0px 11px rgba(0, 0, 0, 0.25);
}
.chat-text .chat-textarea{
    height: 40px;
    padding: 0px;
    border:none;
    width: 100%;
    resize: none;
    background-color: transparent;
}
.chat-online-list{
    position: relative;
    border-bottom:1px solid #DDD;
    overflow: hidden;
    padding: 5px;
    background-color: #fbfbfb;
    cursor: pointer;
}
.chat-online-list:hover{
    background-color:#f2f2f5;
}
.chat-online-list .chat-user_status{
    position:absolute;
    z-index: 99;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:#000;
    background-color: rgba(0, 0, 0, 0.59);
    color: #FFF;
    line-height:60px;
    text-align:center;
    font-size:20px;
}
.chat-online .ONLINE:after{
    content:'';
    display: block;
    position: absolute;
    right:15px;
    top:15px;
    width: 10px;
    height:10px;
    background-color: #56d600;
    border-radius: 50%;
}
.chat-online .OFFLINE:after{
    content:'';
    display: block;
    position: absolute;
    right:15px;
    top:15px;
    width: 10px;
    height:10px;
    background-color: #9c9c9c;
    border-radius: 50%;
}
.chat-online .ON_IDLE:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color: #dea700;
    border-radius: 50%;
}
.chat-profile-cont{float: left;}
.chat-profile-picture{
    float: left;
    height: 50px;
}
.chat-profile-picture{
    width: 50px;
    height: 50px;
    background-color: #fbfbfb;
    border:1px solid #DDD;
    border-radius: 50%;
}
.chat-profile-picture img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.chat-profile-cont{
    margin-left:5px;
    margin-top: 5px
}
.chat-name{
    color: blue;
    width: 180px;
    height: 20px;
    overflow: hidden;
}
.chat-position{
    font-size: 12px;
    overflow: hidden;
    color: #828282;
    height: 16px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.chat-text-message{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    color:#676767;
    white-space: pre-wrap;
    word-break: break-word;
}
.chat-you{
    position: relative;
    background-color: #0b8cdd;
    color:#FFF;
    margin-right: 10px;
    margin-left: 60px;
}
.chat-you:before{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    left: -7px;
    top: 9px;
    border-style: solid;
    border-width: 5px 8px 5px 0;
    border-color: transparent #0b8ddd transparent transparent;
}
.chat-you .chat-image{
    position: absolute;
    left: -60px;
    top:0px;
    width: 40px;
    height: 40px;
}
.chat-you .chat-image img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.chat-me{
    position: relative;
    margin-left: 50px;
}
.chat-me:before{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    right:-7px;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    top: 9px;
    border-color: transparent transparent transparent #f7f7f7;
}
.chat-close{ width: 300px !important;}
.chat-close .chat-support-toggle{
    display: none !important;
}

.chat-close .fa:before {
    content: "\f0d8";
}
.fa-exclamation-circle:before{
    content: "\f06a" !important;
    color: #cc0033;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d" !important;
}
.chat-new-message {
    -webkit-animation: color_change 0.4s infinite alternate;
    -moz-animation: color_change 0.4s infinite alternate;
    -ms-animation: color_change 0.4s infinite alternate;
    -o-animation: color_change 0.4s infinite alternate;
    animation: color_change 0.4s infinite alternate;
}


.trans-assignee .fa-times{
    color: #a94442;
    text-decoration: none;
}
@-webkit-keyframes color_change {
    from { background-color: #FFF; }
    to { background-color: #b6e3ff }
}
@-moz-keyframes color_change {
    from { background-color: #FFF; }
    to { background-color: #b6e3ff }
}
@-ms-keyframes color_change {
    from { background-color: #FFF; }
    to { background-color: #b6e3ff }
}
@-o-keyframes color_change {
    from { background-color: #FFF; }
    to { background-color: #b6e3ff }
}
@keyframes color_change {
    from { background-color: #FFF; }
    to { background-color: #b6e3ff }
}


.stars{
    width:150px;
    height: 30px;
}
.star1 {
    width:30px;
    height:30px;
    background:url(../../images/gray_star.png) no-repeat;
}
.star2 {
    width:30px;
    height:30px;
    background:url(../../images/gray_star.png) no-repeat;
    margin-left:30px;
}
.star3 {
    width:30px;
    height:30px;
    background:url(../../images/gray_star.png) no-repeat;
    margin-left:30px;
}
.star4 {
    width:30px;
    height:30px;
    background:url(../../images/gray_star.png) no-repeat;
    margin-left:30px;
}
.star5 {
    width:30px;
    height:30px;
    background:url(../../images/gray_star.png) no-repeat;
    margin-left:30px;
}
.star1:hover {
    background:url(../../images/gray_star.png) no-repeat right;
}
.star2:hover {
    background:url(../../images/gray_star.png) no-repeat right;
}
.star3:hover {
    background:url(../../images/gray_star.png) no-repeat right;
}
.star4:hover {
    background:url(../../images/gray_star.png) no-repeat right;
}
.star5:hover {
    background:url(../../images/gray_star.png) no-repeat right;
}
.star-checked{
    background:url(../../images/gray_star.png) no-repeat right !important;
}

.star-radio{
    position: absolute;
    display: block;
    width:30px;
    height:30px;
    margin-top: 0px;
    margin-left:0px;
    opacity: 0;
    cursor: pointer;
}
.col-fd-5 .tile-stats h2{margin: 0px; text-align: center;}
.col-fd-5 .tile-stats{padding: 15px;}
.col-fd-5 { padding: 15px; }
@media (min-width: 992px){
    .col-fd-5 {
        width: 20%;
        float: left;
        padding: 15px;
    }
}

