@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../../fonts/helveticaneue-webfont.eot');
    src: url('../../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/helveticaneue-webfont.woff') format('woff'),
        url('../../fonts/helveticaneue-webfont.ttf') format('truetype'),
        url('../../fonts/helveticaneue-webfont.svg#HelveticaNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../../fonts/helveticaneueltcom-lt-webfont.eot');
    src: url('../../fonts/helveticaneueltcom-lt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/helveticaneueltcom-lt-webfont.woff') format('woff'),
        url('../../fonts/helveticaneueltcom-lt-webfont.ttf') format('truetype'),
        url('../../fonts/helveticaneueltcom-lt-webfont.svg#HelveticaNeueLTCom45Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaRoman';
    src: url('../../fonts/helveticaneueltpro-roman.eot');
    src: url('../../fonts/helveticaneueltpro-roman.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/helveticaneueltpro-roman.woff') format('woff'),
        url('../../fonts/helveticaneueltpro-roman.ttf') format('truetype'),
        url('../../fonts/helveticaneueltpro-roman.svg#helveticaneueltpro-roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-size: 14px;
    background: url(../../images/blur.jpg) #FBFBFB no-repeat center center fixed;

    background-size: cover;
    font-family: helveticaRoman;
}
.login-panel{ background:#283957 !important;}
.widget-heading{
    padding: 18px 15px 18px;
    background: #0b8cdd url(../../images/icon-head.png) 25px -7px no-repeat;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: -1px 1px 0px #000102;
}
.sent-issues{
    background: #98ca3c url(../../images/icon-head.png) 25px -95px no-repeat;
}
.view-issues{
    background: #3c7ab0 url(../../images/icon-head.png) 25px -198px no-repeat;
}
.m-calendar{
    background: #94c93c url(../../images/icon-head.png) 25px -279px no-repeat;
}
.report-header{
    background: #8a6d3c url(../../images/icon-head.png) 25px -383px no-repeat;
}
.user-settings{
    background: #b721f3 url(../../images/icon-head.png) 25px -478px no-repeat;
}
.dashboard-header{
    background: #6c91a9 url(../../images/icon-head.png) 25px -552px no-repeat;
}
.guest-header{
    background: #4c9e4c url(../../images/icon-head.png) 25px -7px no-repeat;
}
img{ max-width: 100%;}
strong{
    font-family: HelveticaNeueBold;
}
.navbar-brand {
    padding: 0px;
}
.navbar-default {
    border-bottom: 2px solid #e7e7e7 ;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
}
.main .content {
    margin-top: 52px;
    margin-left: 300px;
    padding-bottom: 15px;
}
.main .side-menu{
    position: fixed;
    top:50px;
    left:0px;
    bottom: 0px;
    width: 300px;
    background: #07304c url(../../images/clean-gray-paper.png)  !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
    z-index: 999;
}
.main .side-menu .side-menu-content{
    position: absolute;
    overflow: auto;
    top:0px;
    left:0px;
    width: 100%;
    bottom: 39px;
}
.main .side-menu ul{
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.main .side-menu ul li.separator{ height: 3px; background-color: #082235}
.main .side-menu ul li{ overflow: hidden;}
.main .side-menu ul li a{
    display: block;
    line-height:50px;
    height:50px;
    border-bottom: 1px solid #082235;
    border-top: 1px solid #0d4063;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    color: #FFF;
    -webkit-transition: all 0.1s ease-i;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    text-shadow: 1px 1px 0px #062b46;
}
.main .side-menu ul li a .badge,
.main .side-menu ul li a span{
    display: inline;
}

.main .side-menu ul li a .fa{
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: #0a263a;
    margin-right: 10px;
    font-size: 14px !important;
}
.main .side-menu ul li a .badge {
    float: right;
    background-color: #c9302c;
    margin: 16px;
}
.main .side-menu ul li a:hover{
    background-color: #144363;
    -webkit-transition: all 0.1s ease-i;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.main .side-menu ul li a:active{
    -webkit-box-shadow:inset 0px 0px 10px #041f31;
    box-shadow: inset 0px 0px 10px #041f31;
    font-size: 13px;
}
.main .side-menu .side-panel-button{
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 100%;
    bottom: 0px;
    background-color: #0a263a;
    border-top: 1px solid #082235;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
}
.main .side-menu .side-panel-button:active{
    background-color:#144363;
}
.main.close-sidemenu .side-menu{
    width: 60px;
}
.main.close-sidemenu .side-menu ul li a .badge,
.main.close-sidemenu .side-menu ul li a span{
    display: none;
}
.main.close-sidemenu .side-menu ul li a .fa{
    margin-right: 0px !important;
}
.main.hide-span .side-menu ul li a .badge,
.main.hide-span .side-menu ul li a span{
    display: none;
}
.main.close-sidemenu .content{
    margin-left: 60px;
}

.login{
    display: block;
    max-width: 400px;
    padding: 10px;
    margin: 0px auto;
    padding: 18px 20px;
    margin-top: 10%;
    max-width: 360px;
    background-clip: padding-box;

}

.login input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #283957 inset;
    color: #c0c6d2 !important;
    -webkit-text-fill-color:  #c0c6d2;
}

.login .input-group .fa{
    width: 14px;
    text-align: center;
}
.login  .remember{ margin-bottom: 15px;}
.login  .remember span{ vertical-align: top}

.login .form-control{
    color: #c0c6d2 !important;
    border:none;
    background-color: transparent;
    font-weight: normal;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 0 0 30px #283957 inset !important;
}
.login .form-control::-webkit-input-placeholder {
    color: #c0c6d2 !important;
    -webkit-text-fill-color:  #c0c6d2;
}
.login .input-add-group{
    text-shadow: 0 1px #000;
    background:  transparent;
    border-bottom: 1px solid #566580;

}
.login .error-input{
    border-color: #b91d1a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.login .input-group-addon{
    color:#c0c6d2;
    border:none !important;
    background: transparent !important;
    text-shadow:1px 1px 0px #000;
}
.login .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
}
.login .glyphicon{color:#435675;}
.login .remember_me label{
    color:#c0c6d2 !important;
    font-size: 14px;
}
.login .btn-primary{
    background: rgba(31,172,223,1);
    background: -moz-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,172,223,1)), color-stop(100%, rgba(1,216,141,1)));
    background: -webkit-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%);
    background: -o-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%);
    background: -ms-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%);
    background: linear-gradient(to right, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1facdf', endColorstr='#01d88d', GradientType=1 );
    border-radius: 30px;
    border: none !important;
    width: 100%;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
.login .btn-loading{
    position: relative;
    height: 44px;
    width: 44px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}
.login .loader-spinner{
    display: none;
    opacity: 0;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
.login .btn-loading .text-login{
    display: none;
}
.login .btn-loading .loader-spinner{
    position: absolute;
    top: 0px;
    left: 0px;
    background:url("../../images/Dual_Ring.svg") center center no-repeat;
    display: block;
    height: 44px;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    opacity: 1;
}

.footer,
.login-footer{
    margin-top: 15px;
    font-size: 10px;
}
.alert{padding: 10px; margin-bottom: 0px;}
div.table {
    display:table;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
div.tr,form.tr{
    display:table-row;
}
div.td{
    display:table-cell;
    vertical-align: top;
    border: 1px solid #c7c7c7;
    border-right: none;
    border-bottom: none;
}

div.table .th .td{
    font-weight:bold;
}
div.table .td{
    padding: 2px !important;
    font-size: 12px;
    vertical-align: middle;
}
div.table .tr:hover{
    background-color: #FFF7D1;
}
div.table .tr:hover input,
div.table .tr:hover select{
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 20px transparent;
}
div.table div.td select,
div.table div.td input{
    display: block;
    background-color: transparent !important;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    padding: 2px;
}
div.table-users{
    overflow: auto;
}
div.table div.td input:focus{
    border: 1px solid #46b8da;
    box-shadow:0px 0px 5px 0px #46b8da, inset 0px 0px 0px 20px #FFF;
}
div.table select.error,div.table textarea.error,div.table input.error {
    border-color: #B30000 !important;
}
div.table select.error:focus,div.table textarea.error:focus,div.table input.error:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #B30000 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #B30000 !important;
}
div.table .team-lead-select{
    width: 100px;
}
div.table .deactivated {
    background-color: #FFE4E3 !important;
    opacity: 0.5;
}
div.table .deactivated select,
div.table .deactivated input{
    border: 1px solid transparent !important;
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 20px transparent !important;
}
div.table .btn-triger{
    width: 134px;
}
.table-list tbody tr:hover {
    background-color: #FFF7D1 !important;
}
textarea.email-add{
    background-color: #FFF !important;
    height: 34px;
    resize:vertical;
}
.table-bordered .label{ font-size: 10px;}
.widget-popup .popover-content{
    width: 273px;
    height: 183px;
    background: url(../../images/loader_fb.svg) center center no-repeat;

}
.show-image{
    position: relative;
    padding-left: 30px;
}
.show-image .btn{
    position: absolute;
    left: 0px;
}
.main-email-content{
    overflow: auto;
    max-height: 400px;
    margin-bottom: 15px;
}

.footer{
    padding: 30px;
    text-align:center;
    color:#ffffff;
    text-shadow:-1px 1px 0px #000;
}
.table-month-dash tr:nth-of-type(odd) {
    background-color: #ececec;
}
.panel-footer {
    padding: 10px 15px;
    background-color: rgba(245, 245, 245, 0.53);
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ui-timepicker-wrapper {
    overflow-y: auto;
    height: 150px;
    width: 110px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    outline: none;
    z-index: 10001;
    margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
    width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
    width: 11em;
}

.ui-timepicker-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-timepicker-duration {
    margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
    color: #888;
}

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    list-style: none;
    margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
    background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
    background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
    color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
    color: #888;
    cursor: default;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: rgba(255, 255, 255, 0.81);
    transition: all 300ms ease-in-out;
    text-decoration: none !important;
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.20);
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #dbdbdb 50%, #e5e5e5 52%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#dbdbdb 50%,#e5e5e5 52%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#dbdbdb 50%,#e5e5e5 52%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-shadow: -1px 1px 0px #fff;
    color: #5a5a5a;
}

.color-primary:before{
    content: "";
    height: 5px;
    display: block;
    background-color: #337ab7;
}
.color-info:before{
    content: "";
    height: 5px;
    display: block;
    background-color: #5bc0de;
}
.color-warning:before{
    content: "";
    height: 5px;
    display: block;
    background-color: #aa6708;
}
.color-danger:before{
    content: "";
    height: 5px;
    display: block;
    background-color: #a94442;
}
.active-panel:before{
    content: "";
    height: 5px;
    display: block;
    background-color: #09324e;
}

.tile-stats:hover .icon i {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    color: rgba(58, 58, 58, 0.41);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards
}
.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1;
}
.tile-stats .icon i {
    margin: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0
}
.tile-stats .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857
}
.tile-stats .count,
.tile-stats h3,
.tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    z-index: 5;
    padding: 0
}
.tile-stats h3 {
    margin-top: 15px;
}
.tile-stats p {
    margin-top: 5px;
    font-size: 12px
}
.tile-stats>.dash-box-footer {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}
.tile-stats>.dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}
.tile-stats>.dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}
.active-panel{
    background: #3b679e;
    background: -moz-linear-gradient(-45deg, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-linear-gradient(-45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(135deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
    color:#FFF !important;
    text-shadow: -1px 1px 0px #0e5492;
}

.active-panel i{color:#FFF !important;}
a.ellipsis { display: block;height: 20px;}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
    background: #f2f2f2;
}
.fileupload{ opacity: 0; position: absolute; width: 3px;}
.input-group-addon span{ display:block; width: 120px; text-align: right;}
.comment-item-list{
    width: 50px;
    float: left;
}
.comment-item-list img{
    width: 70px;
    height: auto;
    border-radius: 50%;
}
.comment-item-pro{
    margin-left: 75px;
}
.list-group-profile{
    overflow: hidden;
}
@media(max-width:768px){
    .navbar .container-fluid img{
        display: none !important;
    }
    .panel .input-group{
        margin-bottom: 15px;
    }
}
