/********************
*** BUTTONS Stuff ***
*********************/
*{outline: none}
.btn{ outline: none !important;}
.btn-large{ padding: 11px 19px;}
.btn-small{ padding: 2px 10px;}
.btn-mini{
    font-size: 10.5px;
    border-radius: 3px;
    padding: 2px 6px;
}
.btn-green:focus,
.btn-green, .green, .pag ul .active a.green {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #76954f;
    border-bottom: 1px solid #647d44;
    border-left:1px solid #6e894a;
    border-right:1px solid #6e894a;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#9cc46a), to(#83a854));
    background: -webkit-linear-gradient(top, #9cc46a, #83a854);
    background: -moz-linear-gradient(top, #9cc46a, #83a854);
    background: -o-linear-gradient(top, #9cc46a, #83a854);
    background: -ms-linear-gradient(top, #9cc46a, #83a854);
    background: linear-gradient(to bottom, #9cc46a, #83a854);
}
.btn-green:focus,
.btn-green:hover{color: #FFF;}
.btn-group.open .btn-green.dropdown-toggle,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
    color: #fff;
    border: 1px solid #647d44;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#8eb65b), to(#76994a));
    background: -webkit-linear-gradient(top, #8eb65b, #76994a);
    background: -moz-linear-gradient(top, #8eb65b, #76994a);
    background: -o-linear-gradient(top, #8eb65b, #76994a);
    background: -ms-linear-gradient(top, #8eb65b, #76994a);
    background: linear-gradient(to bottom, #8eb65b, #76994a);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-turquoise, .turquoise, .pag ul .active a.turquoise {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #1fbba6;
    border-bottom: 1px solid #16a08d;
    border-left:1px solid #1aad99;
    border-right:1px solid #1aad99;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#32d6c0), to(#1fbba6));
    background: -webkit-linear-gradient(top, #32d6c0, #1fbba6);
    background: -moz-linear-gradient(top, #32d6c0, #1fbba6);
    background: -o-linear-gradient(top, #32d6c0, #1fbba6);
    background: -ms-linear-gradient(top, #32d6c0, #1fbba6);
    background: linear-gradient(to bottom, #32d6c0, #1fbba6);
}
.btn-turquois:focus,
.btn-turquoise:hover{ color:#FFF;}
.btn-group.open .btn-turquoise.dropdown-toggle,
.btn-turquoise:active,
.btn-turquoise.active,
.btn-turquoise.disabled,
.btn-turquoise[disabled] {
    color: #fff;
    border-top: 1px solid #149381;
    border-bottom: 1px solid #139684;
    border-left:1px solid #149482;
    border-right:1px solid #149482;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#1fbba6), to(#18a592));
    background: -webkit-linear-gradient(top, #1fbba6, #18a592);
    background: -moz-linear-gradient(top, #1fbba6, #18a592);
    background: -o-linear-gradient(top, #1fbba6, #18a592);
    background: -ms-linear-gradient(top, #1fbba6, #18a592);
    background: linear-gradient(to bottom, #1fbba6, #18a592);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-aqua, .aqua, .pag ul .active a.aqua {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #14b9d6;
    border-bottom: 1px solid #099bb5;
    border-left:1px solid #0eaac5;
    border-right:1px solid #0eaac5;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#37d1ec), to(#14b9d6));
    background: -webkit-linear-gradient(top, #37d1ec, #14b9d6);
    background: -moz-linear-gradient(top, #37d1ec, #14b9d6);
    background: -o-linear-gradient(top, #37d1ec, #14b9d6);
    background: -ms-linear-gradient(top, #37d1ec, #14b9d6);
    background: linear-gradient(to bottom, #37d1ec, #14b9d6);
}
.btn-aqua:focus,
.btn-aqua:hover{ color:#FFF;}
.btn-group.open .btn-aqua.dropdown-toggle,
.btn-aqua:active,
.btn-aqua.active,
.btn-aqua.disabled,
.btn-aqua[disabled] {
    color: #fff;
    border-top: 1px solid #088da5;
    border-bottom: 1px solid #078da5;
    border-left:1px solid #088da5;
    border-right:1px solid #088da5;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#14b9d6), to(#0ea3bd));
    background: -webkit-linear-gradient(top, #14b9d6, #0ea3bd);
    background: -moz-linear-gradient(top, #14b9d6, #0ea3bd);
    background: -o-linear-gradient(top, #14b9d6, #0ea3bd);
    background: -ms-linear-gradient(top, #14b9d6, #0ea3bd);
    background: linear-gradient(to bottom, #14b9d6, #0ea3bd);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-blue, .blue, .pag ul .active a.blue {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #3b7db6;
    border-bottom: 1px solid #29577e;
    border-left:1px solid #326999;
    border-right:1px solid #326999;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#52b0d1), to(#447daf));
    background: -webkit-linear-gradient(top, #52b0d1, #447daf);
    background: -moz-linear-gradient(top, #52b0d1, #447daf);
    background: -o-linear-gradient(top, #52b0d1, #447daf);
    background: -ms-linear-gradient(top, #52b0d1, #447daf);
    background: linear-gradient(to bottom, #52b0d1, #447daf);
}
.btn-blue:focus,
.btn-blue:hover{ color:#FFF;}
.btn-group.open .btn-blue.dropdown-toggle,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
    color: #fff;
    border-top: 1px solid #30628c;
    border-bottom: 1px solid #2f5b81;
    border-left:1px solid #2f5e86;
    border-right:1px solid #2f5e86;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#50a4c2), to(#4276a3));
    background: -webkit-linear-gradient(top, #50a4c2, #4276a3);
    background: -moz-linear-gradient(top, #50a4c2, #4276a3);
    background: -o-linear-gradient(top, #50a4c2, #4276a3);
    background: -ms-linear-gradient(top, #50a4c2, #4276a3);
    background: linear-gradient(to bottom, #50a4c2, #4276a3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-lavender, .lavender, .pag ul .active a.lavender {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #876a96;
    border-bottom: 1px solid #71567f;
    border-left:1px solid #7c608a;
    border-right:1px solid #7c608a;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#b699c5), to(#876a96));
    background: -webkit-linear-gradient(top, #b699c5, #876a96);
    background: -moz-linear-gradient(top, #b699c5, #876a96);
    background: -o-linear-gradient(top, #b699c5, #876a96);
    background: -ms-linear-gradient(top, #b699c5, #876a96);
    background: linear-gradient(to bottom, #b699c5, #876a96);
}
.btn-lavender:focus,
.btn-lavender:hover{ color:#FFF;}
.btn-group.open .btn-lavender.dropdown-toggle,
.btn-lavender:active,
.btn-lavender.active,
.btn-lavender.disabled,
.btn-lavender[disabled] {
    color: #fff !important;
    border-top: 1px solid #624870;
    border-bottom: 1px solid #624870;
    border-left:1px solid #624870;
    border-right:1px solid #624870;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#8a6e99), to(#71567f));
    background: -webkit-linear-gradient(top, #8a6e99, #71567f);
    background: -moz-linear-gradient(top, #8a6e99, #71567f);
    background: -o-linear-gradient(top, #8a6e99, #71567f);
    background: -ms-linear-gradient(top, #8a6e99, #71567f);
    background: linear-gradient(to bottom, #8a6e99, #71567f);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-red, .red, .pag ul .active a.red {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #c5464c;
    border-bottom: 1px solid #a33139;
    border-left:1px solid #b33b42;
    border-right:1px solid #b33b42;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#e36066), to(#c5464f));
    background: -webkit-linear-gradient(top, #e36066, #c5464f);
    background: -moz-linear-gradient(top, #e36066, #c5464f);
    background: -o-linear-gradient(top, #e36066, #c5464f);
    background: -ms-linear-gradient(top, #e36066, #c5464f);
    background: linear-gradient(to bottom, #e36066, #c5464f);
}
.btn-red:focus,
.btn-red:hover{ color:#FFF;}
.btn-group.open .btn-red.dropdown-toggle,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
    color: #fff;
    border-top: 1px solid #a33139;
    border-bottom: 1px solid #a33139;
    border-left:1px solid #a33139;
    border-right:1px solid #a33139;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#d25157), to(#b83a43));
    background: -webkit-linear-gradient(top, #d25157, #b83a43);
    background: -moz-linear-gradient(top, #d25157, #b83a43);
    background: -o-linear-gradient(top, #d25157, #b83a43);
    background: -ms-linear-gradient(top, #d25157, #b83a43);
    background: linear-gradient(to bottom, #d25157, #b83a43);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-orange, .orange, .pag ul .active a.orange {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #e17e47;
    border-bottom: 1px solid #ce6930;
    border-left:1px solid #d8743c;
    border-right:1px solid #d8743c;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f79a66), to(#e17e47));
    background: -webkit-linear-gradient(top, #f79a66, #e17e47);
    background: -moz-linear-gradient(top, #f79a66, #e17e47);
    background: -o-linear-gradient(top, #f79a66, #e17e47);
    background: -ms-linear-gradient(top, #f79a66, #e17e47);
    background: linear-gradient(to bottom, #f79a66, #e17e47);
}
.btn-orange:focus,
.btn-orange:hover{ color:#FFF;}
.btn-group.open .btn-orange.dropdown-toggle,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
    color: #fff;
    border-top: 1px solid #b06134;
    border-bottom: 1px solid #c16029;
    border-left:1px solid #b8602f;
    border-right:1px solid #b8602f;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#e17e47), to(#ce6930));
    background: -webkit-linear-gradient(top, #e17e47, #ce6930);
    background: -moz-linear-gradient(top, #e17e47, #ce6930);
    background: -o-linear-gradient(top, #e17e47, #ce6930);
    background: -ms-linear-gradient(top, #e17e47, #ce6930);
    background: linear-gradient(to bottom, #e17e47, #ce6930);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-yellow, .yellow, .pag ul .active a.yellow {
    color: #4d4d4d;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    border-top: 1px solid #e5b032;
    border-bottom: 1px solid #c39016;
    border-left:1px solid #d5a025;
    border-right:1px solid #d5a025;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f5ca62), to(#e5b032));
    background: -webkit-linear-gradient(top, #f5ca62, #e5b032);
    background: -moz-linear-gradient(top, #f5ca62, #e5b032);
    background: -o-linear-gradient(top, #f5ca62, #e5b032);
    background: -ms-linear-gradient(top, #f5ca62, #e5b032);
    background: linear-gradient(to bottom, #f5ca62, #e5b032);
}
.btn-yellow:focus,
.btn-yellow:hover{ color:#4d4d4d;}
.btn-group.open .btn-yellow.dropdown-toggle,
.btn-yellow:active,
.btn-yellow.active,
.btn-yellow.disabled,
.btn-yellow[disabled] {
    color: #4d4d4d;
    border-top: 1px solid #b18928;
    border-bottom: 1px solid #b58617;
    border-left:1px solid #b38820;
    border-right:1px solid #b38820;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#e7b438), to(#cb9d2f));
    background: -webkit-linear-gradient(top, #e7b438, #cb9d2f);
    background: -moz-linear-gradient(top, #e7b438, #cb9d2f);
    background: -o-linear-gradient(top, #e7b438, #cb9d2f);
    background: -ms-linear-gradient(top, #e7b438, #cb9d2f);
    background: linear-gradient(to bottom, #e7b438, #cb9d2f);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-grey, .grey, .pag ul .active a.grey {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #6c7177;
    border-bottom: 1px solid #4c5056;
    border-left:1px solid #5c6167;
    border-right:1px solid #5c6167;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#8b929b), to(#696d73));
    background: -webkit-linear-gradient(top, #8b929b, #696d73);
    background: -moz-linear-gradient(top, #8b929b, #696d73);
    background: -o-linear-gradient(top, #8b929b, #696d73);
    background: -ms-linear-gradient(top, #8b929b, #696d73);
    background: linear-gradient(to bottom, #8b929b, #696d73);
}
.btn-grey:focus,
.btn-grey:hover{ color:#FFF;}
.btn-group.open .btn-grey.dropdown-toggle,
.btn-grey:active,
.btn-grey.active,
.btn-grey.disabled,
.btn-grey[disabled] {
    color: #fff;
    border-top: 1px solid #4c5056;
    border-bottom: 1px solid #404348;
    border-left:1px solid #46494f;
    border-right:1px solid #46494f;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#70747b), to(#4c5056));
    background: -webkit-linear-gradient(top, #70747b, #4c5056);
    background: -moz-linear-gradient(top, #70747b, #4c5056);
    background: -o-linear-gradient(top, #70747b, #4c5056);
    background: -ms-linear-gradient(top, #70747b, #4c5056);
    background: linear-gradient(to bottom, #70747b, #4c5056);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-black, .black, .pag ul .active a.black {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #000000;
    border-left:1px solid #101010;
    border-right:1px solid #101010;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#464646), to(#1e1e1e));
    background: -webkit-linear-gradient(top, #464646, #1e1e1e);
    background: -moz-linear-gradient(top, #464646, #1e1e1e);
    background: -o-linear-gradient(top, #464646, #1e1e1e);
    background: -ms-linear-gradient(top, #464646, #1e1e1e);
    background: linear-gradient(to bottom, #464646, #1e1e1e);
}
.btn-black:focus,
.btn-black:hover{ color:#FFF;}
.btn-group.open .btn-black.dropdown-toggle,
.btn-black:active,
.btn-black.active,
.btn-black.disabled,
.btn-black[disabled] {
    color: #fff;
    border: 1px solid #000000;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#232323), to(#0a0a0a));
    background: -webkit-linear-gradient(top, #232323, #0a0a0a);
    background: -moz-linear-gradient(top, #232323, #0a0a0a);
    background: -o-linear-gradient(top, #232323, #0a0a0a);
    background: -ms-linear-gradient(top, #232323, #0a0a0a);
    background: linear-gradient(to bottom, #232323, #0a0a0a);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-dark-grey, .dark-grey, .pag ul .active a.dark-grey {
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: 1px solid #3f4247;
    border-bottom: 1px solid #25272a;
    border-left:1px solid #313438;
    border-right:1px solid #313438;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#5b6168), to(#393c40));
    background: -webkit-linear-gradient(top, #5b6168, #393c40);
    background: -moz-linear-gradient(top, #5b6168, #393c40);
    background: -o-linear-gradient(top, #5b6168, #393c40);
    background: -ms-linear-gradient(top, #5b6168, #393c40);
    background: linear-gradient(to bottom, #5b6168, #393c40);
}
.btn-dark-grey:focus,
.btn-dark-grey:hover{ color:#FFF;}
.btn-group.open .btn-dark-grey.dropdown-toggle,
.btn-dark-grey:active,
.btn-dark-grey.active,
.btn-dark-grey.disabled,
.btn-dark-grey[disabled] {
    color: #fff;
    border: 1px solid #222426;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#3c3f43), to(#2a2d30));
    background: -webkit-linear-gradient(top, #3c3f43, #2a2d30);
    background: -moz-linear-gradient(top, #3c3f43, #2a2d30);
    background: -o-linear-gradient(top, #3c3f43, #2a2d30);
    background: -ms-linear-gradient(top, #3c3f43, #2a2d30);
    background: linear-gradient(to bottom, #3c3f43, #2a2d30);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.btn-light-grey, .light-grey, .pag ul .active a.light-grey {
    color: #4d4d4d;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    border-top: 1px solid #bcc2c9;
    border-bottom: 1px solid #a6adb6;
    border-left:1px solid #b0b7bf;
    border-right:1px solid #b0b7bf;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#dbe1e8), to(#bcc2c9));
    background: -webkit-linear-gradient(top, #dbe1e8, #bcc2c9);
    background: -moz-linear-gradient(top, #dbe1e8, #bcc2c9);
    background: -o-linear-gradient(top, #dbe1e8, #bcc2c9);
    background: -ms-linear-gradient(top, #dbe1e8, #bcc2c9);
    background: linear-gradient(to bottom, #dbe1e8, #bcc2c9);
}
.btn-light-grey:focus,
.btn-light-grey:hover{ color:#4d4d4d;}
.btn-group.open .btn-light-grey.dropdown-toggle,
.btn-light-grey:active,
.btn-light-grey.active,
.btn-light-grey.disabled,
.btn-light-grey[disabled] {
    color: #4d4d4d;
    border-top: 1px solid #a6adb6;
    border-bottom: 1px solid #929aa5;
    border-left:1px solid #9ba2ac;
    border-right:1px solid #9ba2ac;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#bec3ca), to(#a6adb6));
    background: -webkit-linear-gradient(top, #bec3ca, #a6adb6);
    background: -moz-linear-gradient(top, #bec3ca, #a6adb6);
    background: -o-linear-gradient(top, #bec3ca, #a6adb6);
    background: -ms-linear-gradient(top, #bec3ca, #a6adb6);
    background: linear-gradient(to bottom, #bec3ca, #a6adb6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.btn-white, .white, .pag ul .active a.white {
    color: #4d4d4d;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    border-top: 1px solid #dbe1e8;
    border-bottom: 1px solid #c5ccd4;
    border-left:1px solid #d0d6de;
    border-right:1px solid #d0d6de;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f8f8f8), to(#dbe1e8));
    background: -webkit-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -moz-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -o-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -ms-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: linear-gradient(to bottom, #f8f8f8, #dbe1e8);
}
.btn-group.open .btn-white.dropdown-toggle,
.btn-white:active,
.btn-white.active,
.btn-white.disabled,
.btn-white[disabled] {
    color: #4d4d4d;
    border: 1px solid #c5ccd4;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#dce2e9), to(#d7dce1));
    background: -webkit-linear-gradient(top, #dce2e9, #d7dce1);
    background: -moz-linear-gradient(top, #dce2e9, #d7dce1);
    background: -o-linear-gradient(top, #dce2e9, #d7dce1);
    background: -ms-linear-gradient(top, #dce2e9, #d7dce1);
    background: linear-gradient(to bottom, #dce2e9, #d7dce1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.btn:focus { background-position: 0 0; }

.btn .caret { margin-left: 3px; }

.btn .caret, .btn-white .caret, .btn-light-grey .caret  { border-top-color: #000; }
.dropup .caret, .dropup .btn-white .caret, .dropup .btn-light-grey .caret { border-bottom-color: #000; }

.btn-green .caret, .btn-turquoise .caret, .btn-aqua .caret, .btn-blue .caret, .btn-lavender .caret,
.btn-red .caret, .btn-orange .caret, .btn-yellow .caret, .btn-grey .caret, .btn-black .caret,
.btn-dark-grey .caret { border-top-color: #fff; }

.dropup .btn-green .caret, .dropup .btn-turquoise .caret, .dropup .btn-aqua .caret, .dropup .btn-blue .caret, .dropup .btn-lavender .caret,
.dropup .btn-red .caret, .dropup .btn-orange .caret, .dropup .btn-yellow .caret, .dropup .btn-grey .caret, .dropup .btn-black .caret,
.dropup .btn-dark-grey .caret { border-bottom-color: #fff; }


.btn i { margin-right: 3px;}


/********************
*** WIDGETS Stuff ***
*********************/

.widget {
    position: relative;
    min-height: 100px;
    background: #f7f7f7;
    margin-top: 20px;
    border-radius: 5px;
    border:1px solid #d1ced3;
    box-shadow: inset 0 1px 0 #fff, 0 1px 3px rgba(0,0,0,0.1);
}
.widget-header {
    width: 100%;
    height: 34px;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    border-bottom:1px solid #d4d1d7;
    box-shadow: inset 0 1px 0 #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.widget-footer {
    width: 100%;
    padding:8px 16px 8px;
    margin-top: 10px;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    border-top:1px solid #d4d1d7;
    box-shadow: inset 0 1px 0 #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.widget-title {
    line-height: 34px;
    float: left;
    margin-left: 15px;
    font-size: 14px;
    color: #656268;
    text-shadow:0 1px 0 rgba(255,255,255,0.75);
}

.widget-title i { margin-right: 5px;}
.widget-controls { float: right; position: relative; }
.widget-config {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-left: 1px solid #d4d1d7;
    box-shadow: -1px 0 0 rgba(255,255,255,0.4);
}
.widget-config a {
    color: #656268;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}
.widget-config .dropdown-menu {
    text-align: left;
}
.widget-config .dropdown-menu a {
    text-align: left;
    text-shadow: none;
}
.widget-controls input[type="checkbox"], .w-switches input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}

.widget-content {
    padding: 15px;
}



.progressbar {
    height: 10px;
    background: #edeaf0;
    border-top: 1px solid #cac8cd;
    border-bottom: 1px solid #d3d0d6;
    border-left:1px solid #d2cfd4;
    border-right:1px solid #d2cfd4;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px 0 #fff;	border-radius: 6px;
    margin: 30px auto;
    position: relative;
}
.progressbar.blue .ui-widget-header {
    background-color: #2a5981;
    background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -webkit-gradient(linear, 0 0, 0 100%, from(#52afd0), to(#447daf));
    background: -moz-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -moz-linear-gradient(top, #52afd0, #447daf);
    background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -webkit-linear-gradient(top, #52afd0, #447daf);
    background: -o-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -o-linear-gradient(top, #52afd0, #447daf);
    border-top: 1px solid #3978af!important;
    border-bottom: 1px solid #2a5981!important;
    border-left: 1px solid #366d9c!important;
    border-right: 1px solid #366d9c!important;
}
.progressbar.green .ui-widget-header {
    background-color: #9ac168;
    background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -webkit-gradient(linear, 0 0, 0 100%, from(#acdb71), to(#92bb5d));
    background: -moz-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -moz-linear-gradient(top, #acdb71, #92bb5d);
    background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -webkit-linear-gradient(top, #acdb71, #92bb5d);
    background: -o-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -o-linear-gradient(top, #acdb71, #92bb5d);
    border-top: 1px solid #87ac57!important;
    border-bottom: 1px solid #9ac168!important;
    border-left: 1px solid #91b662!important;
    border-right: 1px solid #91b662!important;
}
.progressbar.grey .ui-widget-header {
    background-color: #767676;
    background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -webkit-gradient(linear, 0 0, 0 100%, from(#9f9f9f), to(#898989));
    background: -moz-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -moz-linear-gradient(top, #9f9f9f, #898989);
    background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -webkit-linear-gradient(top, #9f9f9f, #898989) 0 0;
    background: -o-repeating-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0) 2px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 4px), -o-linear-gradient(top, #9f9f9f, #898989);
    border-top: 1px solid #767676!important;
    border-bottom: 1px solid #555555!important;
    border-left: 1px solid #6a6a6a!important;
    border-right: 1px solid #6a6a6a!important;
}
.progressbar .ui-progressbar-value { margin: 0; border-radius: 6px; position: relative; height:10px; margin-top: -1px; }
.progressbar.first { margin-top: 70px!important;}
.progressbar { overflow: visible;}
.progress-amount {
    font-size: 14px;
    color: #929191;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    text-align: right;
    margin-top: 5px;
}


.dropdown-select {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 10px;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    color: #656268;
    background: #fff;
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    text-shadow:0 1px 0 rgba(255,255,255,0.75);
    -webkit-appearance: none;
}
.dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #1b1e1f;
    outline: none;
    outline: none;
    outline-offset: 0px;
}
.dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}
/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown { z-index: 1; }
.lt-ie9 .dropdown-select { z-index: -1; }
.lt-ie9 .dropdown-select:focus { z-index: 3; }
/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() { .dropdown-select { padding-left: 6px; } }
.custom-input input[type="checkbox"], .custom-input input[type="radio"] { display: none; }
.custom-input  input[type="checkbox"] + label, .custom-input  input[type="radio"] + label {
    font-size: 14px;
    color: #656268;
    padding-left: 20px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 5px;
}


.custom-input label{ font-weight: normal;}
.custom-input {
    display: inline;
    padding-left: 3px;
    margin: 2px 0px;
}
.custom-input input[type="checkbox"] + label,
.custom-input input[type="radio"] + label {
    font-size: 14px;
    color: #656268;
    padding-left: 20px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 5px;
}
.custom-input input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 3px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border-top: 1px solid #cac7cd;
    border-bottom: 1px solid #d4d1d7;
    border-left: 1px solid #cecbd1;
    border-right: 1px solid #cecbd1;
    background: #e9e9e9;
    text-align: center;
    line-height: 14px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    color: #656268;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}
.custom-input input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-top: 1px solid #ccc9cf;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 201, 207);
    border-bottom: 1px solid #dad8dd;
    border-left: 1px solid #d0cdd2;
    border-right: 1px solid #d0cdd2;
    background: #edeaf0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.custom-input input[type="checkbox"]:checked + label:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 12px;
}
.custom-input input[type="radio"]:checked + label:after {
    display: block;
}

.custom-input input[type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    border-top: 1px solid #d7d5da;
    border-bottom: 1px solid #cac8cd;
    border-left: 1px solid #cac8cd;
    border-right: 1px solid #cac8cd;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    display: none;
}

.modal {

}
.modal .modal-header{
    width: 100%;
    padding: 6px 15px 6px;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    border-bottom: 1px solid #d4d1d7;
    box-shadow: inset 0 1px 0 #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-content{ border: 1px solid #d1ced3;}
.modal-header .close {
    margin-top: 1px;
}
.modal-footer {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    border-top: 1px solid #d4d1d7;
    box-shadow: inset 0 1px 0 #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}




.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    color: #656268;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f8f8f8), to(#dbe1e8));
    background: -webkit-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -moz-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -o-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -ms-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: linear-gradient(to bottom, #f8f8f8, #dbe1e8);
}
.pagination>.active>a, .pagination>.active>span {
    color: #333 !important;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#dbe1e8), to(#dbe1e8));
    background: -webkit-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: -moz-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: -o-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: -ms-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: linear-gradient(to bottom, #dbe1e8, #dbe1e8);
    border-color: #afbbca;
}
.pagination>li>a:active, .pagination>li>span:active {
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#dce2e9), to(#d7dce1));
    background: -webkit-linear-gradient(top, #dce2e9, #d7dce1);
    background: -moz-linear-gradient(top, #dce2e9, #d7dce1);
    background: -o-linear-gradient(top, #dce2e9, #d7dce1);
    background: -ms-linear-gradient(top, #dce2e9, #d7dce1);
    background: linear-gradient(to bottom, #dce2e9, #d7dce1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
.pagination li.disabled a{
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#dbe1e8), to(#dbe1e8));
    background: -webkit-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: -moz-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: -o-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: -ms-linear-gradient(top, #dbe1e8, #dbe1e8);
    background: linear-gradient(to bottom, #dbe1e8, #dbe1e8);
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 3px;
    background: #fff;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background-color: #07304c;
    position: fixed;
    top: 0;
    bottom: 0;
    height:3px;
    right: 100%;
    width: 100%;
    overflow: hidden;
}
.pace .pace-activity {
    position: fixed;
    top: 0;
    right: -32px;
    height:3px;
    bottom: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    animation: pace-theme-barber-shop-motion 500ms linear infinite;
}

@-webkit-keyframes pace-theme-barber-shop-motion {
    0% { -webkit-transform: none; transform: none; }
    100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-theme-barber-shop-motion {
    0% { -moz-transform: none; transform: none; }
    100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-theme-barber-shop-motion {
    0% { -o-transform: none; transform: none; }
    100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-theme-barber-shop-motion {
    0% { -ms-transform: none; transform: none; }
    100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-theme-barber-shop-motion {
    0% { transform: none; transform: none; }
    100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}

.notification{
    position: fixed;
    max-width: 400px;
    opacity: 0;
    z-index: 9999;
    text-align:center;
}
.notification:hover{
    opacity: 1 !important;
}
.notification span{
    font-family: 'helveticaRoman';
}
.notification:before{
    margin-right: 10px;
}
.ui-button:focus{
    border-color:  #6aa3be;
}
.ellipsis{
    overflow: hidden;
    max-width: 230px;
    height: 20px;
}
.min-width{ min-width:300px;}
.list-group .web-link{
    width: 90%;
    height: 20px;
    overflow: hidden;
    display: block;
}


.image-editor{
    position: relative;
    width: 350px;
    height: auto;
    margin: 0 auto;
}
.image-editor .cropit-preview {
    position: relative;
    background: url(../../images/placeholder.png) center center no-repeat;
    border:1px solid #d7d7d7;
    border-radius: 3px;
    width: 350px;
    height: 141px;
}
.image-editor .cropit-image-loading:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    top:0px;
    height: 100%;
    z-index: 2;
    background: url(../../images/loader.svg) no-repeat center;
}
.image-editor .cropit-image-loaded{
    background: url(../../images/transparent.gif);
}
.image-editor .cropit-image-done:after{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top:0px;
    width: 350px;
    height: 141px;
    z-index: 3;
    background-color: transparent;
}
.image-editor .cropit-preview-image{
    position: relative;
    max-width: none !important;
    cursor: move;
    z-index: 0;
}
.image-editor .image-size-label{
    margin-top: 15px;
}

.generator{ background-color: #FFF;}
.image-editor-profile img {
    max-width: none !important;
}
.image-editor-profile{
    position: relative;
    width: 250px;
    height: auto;
    margin: 0 auto;
}
.image-editor-profile .cropit-preview {
    position: relative;
    background: url(../../images/placeholder.png) center center no-repeat #fbfbfb;
    border:1px solid #d7d7d7;
    border-radius: 3px;
    width: 250px;
    height: 250px;
}
.image-editor-profile .cropit-image-loading:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    top:0px;
    height: 100%;
    z-index: 2;
    background: url(../../images/loader.svg) no-repeat center;
}
.image-editor-profile .cropit-image-loaded{
    background: url(../../images/transparent.gif);
}
.image-editor-profile .cropit-image-done:after{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top:0px;
    width: 350px;
    height: 141px;
    z-index: 3;
    background-color: transparent;
}
.image-editor-profile .cropit-preview-image{
    position: relative;
    max-width: none !important;
    cursor: move;
    z-index: 0;
}
.image-editor-profile .image-size-label{
    margin-top: 15px;
}