@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../../fonts/helveticaneue-webfont.eot');
    src: url('../../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/helveticaneue-webfont.woff') format('woff'),
        url('../../fonts/helveticaneue-webfont.ttf') format('truetype'),
        url('../../fonts/helveticaneue-webfont.svg#HelveticaNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../../fonts/helveticaneueltcom-lt-webfont.eot');
    src: url('../../fonts/helveticaneueltcom-lt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/helveticaneueltcom-lt-webfont.woff') format('woff'),
        url('../../fonts/helveticaneueltcom-lt-webfont.ttf') format('truetype'),
        url('../../fonts/helveticaneueltcom-lt-webfont.svg#HelveticaNeueLTCom45Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaRoman';
    src: url('../../fonts/helveticaneueltpro-roman.eot');
    src: url('../../fonts/helveticaneueltpro-roman.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/helveticaneueltpro-roman.woff') format('woff'),
        url('../../fonts/helveticaneueltpro-roman.ttf') format('truetype'),
        url('../../fonts/helveticaneueltpro-roman.svg#helveticaneueltpro-roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-size: 14px;
    background:url(../../images/blur.jpg) #FBFBFB no-repeat center center fixed;
    background-size: cover;
    font-family: helveticaRoman;
}
img{ max-width: 100%;}
strong{
    font-family: HelveticaNeueBold;
}
.navbar-brand {
    padding: 0px;
}
.navbar-default {
    border-bottom: 2px solid #e7e7e7 ;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
}
.main .content {
    margin-top: 52px;
    margin-left: 300px;
    padding-bottom: 15px;
}
.main .side-menu{
    position: fixed;
    top:50px;
    left:0px;
    bottom: 0px;
    width: 300px;
    background: #07304c url(../../images/clean-gray-paper.png)  !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
    z-index: 999;
}
.main .side-menu .side-menu-content{
    position: absolute;
    overflow: auto;
    top:0px;
    left:0px;
    width: 100%;
    bottom: 39px;
}
.main .side-menu ul{
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.main .side-menu ul li.separator{ height: 3px; background-color: #082235}
.main .side-menu ul li{ overflow: hidden;}
.main .side-menu ul li a{
    display: block;
    line-height:50px;
    height:50px;
    border-bottom: 1px solid #082235;
    border-top: 1px solid #0d4063;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    color: #FFF;
    -webkit-transition: all 0.1s ease-i;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    text-shadow: 1px 1px 0px #062b46;
}
.main .side-menu ul li a .badge,
.main .side-menu ul li a span{
    display: inline;
}

.main .side-menu ul li a .fa{
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: #0a263a;
    margin-right: 10px;
    font-size: 14px !important;
}
.main .side-menu ul li a .badge {
    float: right;
    background-color: #c9302c;
    margin: 16px;
}
.main .side-menu ul li a:hover{
    background-color: #144363;
    -webkit-transition: all 0.1s ease-i;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.main .side-menu ul li a:active{
    -webkit-box-shadow:inset 0px 0px 10px #041f31;
    box-shadow: inset 0px 0px 10px #041f31;
    font-size: 13px;
}
.main .side-menu .side-panel-button{
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 100%;
    bottom: 0px;
    background-color: #0a263a;
    border-top: 1px solid #082235;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
}
.main .side-menu .side-panel-button:active{
    background-color:#144363;
}
.main.close-sidemenu .side-menu{
    width: 60px;
}
.main.close-sidemenu .side-menu ul li a .badge,
.main.close-sidemenu .side-menu ul li a span{
    display: none;
}
.main.close-sidemenu .side-menu ul li a .fa{
    margin-right: 0px !important;
}
.main.hide-span .side-menu ul li a .badge,
.main.hide-span .side-menu ul li a span{
    display: none;
}
.main.close-sidemenu .content{
    margin-left: 60px;
}

.login{
    display: block;
    max-width: 400px;
    padding: 10px;
    margin: 0px auto;
    padding: 18px 20px;
    margin-top: 10%;
    max-width: 360px;
    background: #07304c;
    background-clip: padding-box;
    border: 1px solid #07304c;
    border-bottom-color: #142647;
    border-radius: 5px;
    background-image: -webkit-radial-gradient(cover, #407DA7, #07304c);
    background-image: -moz-radial-gradient(cover, #407DA7, #07304c);
    background-image: -o-radial-gradient(cover, #407DA7, #07304c);
    background-image: radial-gradient(cover, #407DA7, #07304c);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}
.login .input-group .fa{
    width: 14px;
    text-align: center;
}
.login  .remember{ margin-bottom: 15px;}
.login  .remember span{ vertical-align: top}

.login .form-control{
    color: #fff;
    border:none;
    background-color: transparent;
    font-weight: normal;
}
.login .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a1acbf;
}
.login .input-add-group{
    text-shadow: 0 1px #000;
    background: #2b3e5d;
    border: 1px solid #15243b;
    border-top-color: #0d1827;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}
.login .error-input{
    border-color: #b91d1a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.login .input-group-addon{
    color:#435675;
    border:none;
    background-color: transparent;
}
.login .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
}
.login .glyphicon{color:#435675;}
.login .remember_me label{
    color:#FFF !important;
    font-size: 14px;
}
.footer,
.login-footer{
    margin-top: 15px;
    font-size: 10px;
}
.alert{padding: 10px; margin-bottom: 0px;}
div.table {
    display:table;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
div.tr,form.tr{
    display:table-row;
}
div.td{
    display:table-cell;
    vertical-align: top;
    border: 1px solid #c7c7c7;
    border-right: none;
    border-bottom: none;
}

div.table .th .td{
    font-weight:bold;
}
div.table .td{
    padding: 2px !important;
    font-size: 12px;
    vertical-align: middle;
}
div.table .tr:hover{
    background-color: #FFF7D1;
}
div.table .tr:hover input,
div.table .tr:hover select{
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 20px transparent;
}
div.table div.td select,
div.table div.td input{
    display: block;
    background-color: transparent !important;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    padding: 2px;
}
div.table-users{
    overflow: auto;
}
div.table div.td input:focus{
    border: 1px solid #46b8da;
    box-shadow:0px 0px 5px 0px #46b8da, inset 0px 0px 0px 20px #FFF;
}
div.table select.error,div.table textarea.error,div.table input.error {
    border-color: #B30000 !important;
}
div.table select.error:focus,div.table textarea.error:focus,div.table input.error:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #B30000 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #B30000 !important;
}
div.table .team-lead-select{
    width: 100px;
}
div.table .deactivated {
    background-color: #FFE4E3 !important;
    opacity: 0.5;
}
div.table .deactivated select,
div.table .deactivated input{
    border: 1px solid transparent !important;
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 20px transparent !important;
}
div.table .btn-triger{
    width: 134px;
}
.table-list tbody tr:hover {
    background-color: #FFF7D1 !important;
}
textarea.email-add{
    background-color: #FFF !important;
    height: 34px;
    resize:vertical;
}
.table-bordered .label{ font-size: 10px;}
.widget-popup .popover-content{
    width: 273px;
    height: 183px;
    background: url(../../images/loader_fb.svg) center center no-repeat;

}
.show-image{
    position: relative;
    padding-left: 30px;
}
.show-image .btn{
    position: absolute;
    left: 0px;
}
.main-email-content{
    overflow: auto;
    max-height: 400px;
    margin-bottom: 15px;
}

.footer{
    padding: 30px;
    text-align:center;
    color:#afafaf;
}


.ui-timepicker-wrapper {
    overflow-y: auto;
    height: 150px;
    width: 110px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    outline: none;
    z-index: 10001;
    margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
    width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
    width: 11em;
}

.ui-timepicker-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-timepicker-duration {
    margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
    color: #888;
}

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    list-style: none;
    margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
    background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
    background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
    color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
    color: #888;
    cursor: default;
}


.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    transition: all 300ms ease-in-out;
    text-decoration: none !important;
}
.tile-stats:hover .icon i {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    color: rgba(58, 58, 58, 0.41);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards
}
.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1
}
.tile-stats .icon i {
    margin: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0
}
.tile-stats .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857
}
.tile-stats .count,
.tile-stats h3,
.tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    z-index: 5;
    padding: 0
}
.tile-stats h3 {
    margin-top: 15px;
}
.tile-stats p {
    margin-top: 5px;
    font-size: 12px
}
.tile-stats>.dash-box-footer {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}
.tile-stats>.dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}
.tile-stats>.dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}
.active-panel{
    background-color: #efeff1;
}
a.ellipsis { display: block;height: 20px;}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
    background: #f2f2f2;
}
.fileupload{ opacity: 0; position: absolute; width: 3px;}
.input-group-addon span{ display:block; width: 120px; text-align: right;}
.comment-item-list{
    width: 50px;
    float: left;
}
.comment-item-list img{
    width: 70px;
    height: auto;
    border-radius: 50%;
}
.comment-item-pro{
    margin-left: 75px;
}
.list-group-profile{
    overflow: hidden;
}
@media(max-width:768px){
    .navbar .container-fluid img{
        display: none !important;
    }
    .panel .input-group{
        margin-bottom: 15px;
    }
}
